<fieldset>
<h1>Pray</h1>

<fieldset>
<h2><%= @reading.prayer %></h2>
</fieldset>
</fieldset>
<%= link_to 'Next', bless_reading_path %><br />
<%= link_to 'Back', talk_reading_path %><br />
<%= link_to 'Home', readings_path %>