<p>
<div class="container-fluid">
<h3>Pray</h3>

<p><%= @reading.prayer %></p>

<%= link_to 'Next', bless_reading_path %><br />
<%= link_to 'Back', talk_reading_path %><br />
<%= link_to 'Home', readings_path %>
</div>