<p>
<div class="container">
<h3>Share</h3>

<p>Share your highs and lows for the day</p>


<%= link_to 'Back', readings_path %>  |
<%= link_to 'Home', readings_path %>  |
<%= link_to 'Next', read_reading_path %>
</div>