<p>
<div class="container-fluid">
<h3>Share</h3>

<p>Share your highs and lows for the day</p>


<%= link_to 'Next', read_reading_path %><br />
<%= link_to 'Back', readings_path %><br />
<%= link_to 'Home', readings_path %>
</div>