<p>
<div class="container">

<h3>Talk</h3>


<p><%= @reading.discuss %></p>

<%= link_to 'Back', read_reading_path %>  |
<%= link_to 'Home', readings_path %>  |
<%= link_to 'Next', pray_reading_path %><br />
</div>