<p>
<div class="container">
<h3>Creative Response</h3>

<fieldset>
  <p><%= @weekly_resource.creative_response %></p>

</fieldset>
<%= link_to 'Back', weekly_resources_path %><br />
<%= link_to 'Home', readings_path %>
</div>