<p>
<div class="container">
<h3>Memory Verse</h3>

<fieldset>
  <p><%= @weekly_resource.memory_verse %></p>

</fieldset>
<%= link_to 'Back', weekly_resources_path %><br />
<%= link_to 'Home', readings_path %>
</div>